/node_modules
/public/build
/public/storage
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
.env
.env.backup
/vendor
npm-debug.log
yarn-error.log
/android
/ios
/.idx
